.container
  - @All_users.each_slice(4).each do |users|
    .row
      - users.each do |user|
        .col-sm-3.col-xs-6.hover-cover
          //= link_to 'Link with unobtrusive JavaScript',:id => 'my-link'  do
          %a{class:"iamgeclass2"}
            = image_tag (image_url(user["picture"])), class:"imageclass",id:"#{user[:id]}"
            .carousel-caption 
              =user[:name]
    %br
:javascript
  DailyLog();