-log_summary.each  do |_,value| 
  %div.row
    %div.col-md-8.page
      .row
        .col-md-1
          = image_tag (image_url(value[:picture] )), class:"imagecircle"
        .col-md-3
          %h2
            =value[:name]
        .col-md-8.pull-right.datecolor
          =value[:logdate]
      %h3
        Work
      -value[:beautifulcode].each do |project,logtext|
        %button.btn.btn-default.btn-arrow-left
          =project
        %p
          =logtext
      -value[:clients].each do |client,records|
        -records.each do |pname,log|
          %a.ui.tag.label
            =pname
          %p
            =log
      %hr

      %h5
        Learning
      %p
        =value[:learning]
      %hr
      %h5
        TakeAway
      %div{display:"list-item"}
        =value[:takeaway]
      %div
        =link_to "Edit log",edit_log_path(:log_id => value[:log_id])
  %br
  %br
  %br
