// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f2f2f2;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}


code {
  font-size: 80%;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:#394051;
}
.page
{
  background-color:white;
  width : 50%;
  padding-top:30px;
}
.centeralign
{
  padding-top:9px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
.headerclass
{
  padding-top:15px;
  padding-bottom:5px;
}
.datecolor
{
  color:#55B6AE;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    margin-left: 100px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color:white ;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #f0f0f0;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    color : #484848;
}
a.active
{
   color : black;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
  }

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.form-control
{
  width:100%;
}
#reportrange
{
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc; 
  width: 100%;
}
#datetime_ida
{
  border-color: #55B6AE;
  color: #55b6ae;
  background-color: white;
}
.pull-right
{
  text-align:right;
  float : right;
}
.btn-default
{
  border: 2px solid #45CDC5;
  color: #45CDC5;
  background-color:white;

}
#context1
{
  width:75%;
}
.projects_filter
{
  width: 25%;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 35px;
  }
.imageclass
{
  height: 150px ;
  width:150px;      
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-change
{
  background-color:#55B6AE;
  border-color:#55B6AE;
  color:white;
  margin-bottom:20px;
 
}
.added
{
  width: 28%;
  height: 40px;
  background-color: white;
  border-color: #E9E9E9;
}
.imagecircle
{
 border-radius: 50%;
 width:50px;
 height:50px;
}

